.chart-container{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: -1px 1px 7px -1px #000000; 
    box-shadow: -1px 1px 7px -1px #000000;
    border-radius: 10px;
    .chart-title{
        margin: 0;
        margin-bottom: 30px;
    }
}